.wa-wrapper {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 75px;
  height: 75px;
  z-index: 9999;
  /* animation: float 3s ease-in-out infinite; */
  transition: transform 0.3s ease;
}

.wa-wrapper:hover {
  transform: scale(1.1);
}

.wa-icon {
  width: 100%;
  height: 100%;
  filter: drop-shadow(0 8px 20px rgba(0, 0, 0, 0.3));
}


/* @keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-8px); }
  100% { transform: translateY(0px); }
} */
