.whatwedo {
  padding: 100px 80px;
  background: #f5f6f8;
  text-align: center;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 70px;
  color: #222;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.service-card {
  background: #ffffff;
  padding: 60px 30px 40px;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  position: relative;
  transition: 0.3s ease;
}

.service-card:hover {
  transform: translateY(-10px);
}


.service-card h3 {
  margin-top: 40px;
  font-size: 20px;
  font-weight: 600;
  color: #222;
}

.service-card p {
  margin-top: 15px;
  font-size: 15px;
  line-height: 1.6;
  color: #666;
}

@media (max-width: 992px) {
  .cards-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }

  .whatwedo {
    padding: 60px 20px;
  }
}
