
.service-section {
  background: #ffffff;
  padding: 100px 5%;
}


.service-wrapper {
  display: flex;
  gap: 60px;
  align-items: flex-start;
}



.service-left {
  flex: 0 0 30%;
  position: sticky;
  top: 100px;
}

.service-left .small-title {
  font-size: 20px;
  letter-spacing: 3px;
  color: #0ea5e9;
  font-weight: 600;
}

.service-left h2 {
  font-size: 60px;
  margin: 20px 0;
  background: linear-gradient(90deg, #0ea5e9, #84cc16);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.service-left p {
  color: #475569;
  line-height: 1.7;
  margin-bottom: 30px;
}


.btn-primary {
  display: inline-block;
  padding: 20px 60px;
  border-radius: 40px;
  background: linear-gradient(90deg, #0ea5e9, #84cc16);
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(14,165,233,0.3);
}



.service-right {
  flex: 0 0 70%;
}



.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}



.service-card {
  background: #f8fafc;
  padding: 30px;
  border-radius: 16px;
  transition: all 0.3s ease;
  border: 1px solid #e2e8f0;
}

.service-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 35px rgba(14,165,233,0.15);
}

.service-card img {
  width: 150px;
  margin-bottom: 20px;
  height: 100px;

}

.service-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #0f172a;
  background: linear-gradient(90deg, #0ea5e9, #84cc16);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.service-card p {
  font-size: 14px;
  color: #475569;
  line-height: 1.6;
}



@media (max-width: 1024px) {
  .service-wrapper {
    flex-direction: column;
  }

  .service-left {
    position: relative;
    top: auto;
    width: 100%;
  }

  .service-right {
    width: 100%;
  }

  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .services-grid {
    grid-template-columns: 1fr;
  }

  .service-left h2 {
    font-size: 30px;
  }
}
