.gallery-section {
  padding: 100px 20px;
  background: linear-gradient(135deg, #f5f7fa, #e4e9f2);
}

.gallery-container {
  max-width: 1400px;
  margin: 0 auto;
}


.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 260px;
  gap: 30px;
}


.gallery-item {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  width: 100%;
}



.gallery-video-item {
  grid-column: 2;
  grid-row: span 2;
}



.gallery-item video {
  width: 100%;
  height: 100%;
  object-fit: cover;  
  display: block;
  transition: transform 0.5s ease;
}

.gallery-item img{
    width: 100%;
  height: 290px;
  object-fit: cover;  
  display: block;
  transition: transform 0.5s ease;
}


.gallery-item:hover img,
.gallery-item:hover video {
  transform: scale(1.08);
}

.gallery-item:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}


@media (max-width: 1024px) {
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery-video-item {
    grid-column: span 2;
    grid-row: span 1;
  }
}

@media (max-width: 600px) {
  .gallery-grid {
    grid-template-columns: 1fr;
  }

  .gallery-video-item {
    grid-column: span 1;
  }
}
