.client-slider {
  padding: 60px 0;
  background: #ffffff;
  overflow: hidden;
}

.client-slider h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 35px;
  margin-left: 600px;
  background: #0d5b96;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.client-container {
  max-width: 100%;
  margin: auto;
}

.logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
}

.logo-box img {
  max-width: 180px;
  max-height: 90px;
  object-fit: contain;
}

.mk-logo {
  transform: scale(1.25);  
}