.footer {
  .footer {
  background: #f8fafc;
  position: relative;  
  z-index: 1;          
  font-family: "Poppins", sans-serif;
}
}

.footer-main {
  padding: 90px 40px 70px;
}

.footer-grid {
  max-width: 1300px;
  margin: auto;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1.2fr;
  gap: 70px;
}

.footer-logo {
  width: 300px;
  margin-bottom: 25px;
}

.footer-brand p {
  line-height: 1.8;
  font-size: 14px;
  color: #1e293b;
  margin-bottom: 30px;
  max-width: 340px;
}

.footer-col h4 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 35px;
  color: #1e293b;
  position: relative;
}

.footer-col h4::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 40px;
  height: 3px;
  border-radius: 3px;
  background: #0d5b96;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col ul li {
  margin-bottom: 12px;
  font-size: 15px;
  color: #1e293b;
  transition: 0.3s ease;
}

.footer-col ul li a {
  text-decoration: none;
  color: #1e293b;
  transition: 0.3s ease;
}

/* .footer-col ul li:hover {
  transform: translateX(5px);
}

.footer-col ul li a:hover {
  color: #84cc16;
} */

.contact-item {
  display: flex;
  gap: 12px;
  margin-bottom: 18px;
  font-size: 15px;
  color: #1e293b;
}

.contact-item svg {
  color: #0ea5e9;
  margin-top: 3px;
}

.footer-social {
  display: flex;
  gap: 15px;
}

.footer-social a {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.06);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1e293b;
  transition: 0.3s ease;
}

.footer-social a:hover {
  background: #bdcede;
  color: #1e293b;
  transform: translateY(-4px);
  box-shadow: 0 8px 25px rgba(14, 165, 233, 0.3);
}

.footer-bottom {
  text-align: center;
  padding: 22px;
  font-size: 13px;
  color: #7f94aa;
  background: rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

@media (max-width: 1100px) {
  .footer-grid {
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
}

@media (max-width: 768px) {
  .footer-grid {
    grid-template-columns: 1fr;
  }

  .footer-main {
    padding: 70px 20px;
  }

  .footer-brand p {
    max-width: 100%;
  }
}
