.hero-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  background: #000;
}

.spline-wrapper {
  position: absolute;
  inset: 0;
  overflow: hidden;
  z-index: 1;
}

.spline-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 115%;
  border: none;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  z-index: 2;
 
}

.hero-content {
  position: relative;
  z-index: 2;
  transform: translateY(-40px);
  pointer-events: none;
}

.subtitle {
  letter-spacing: 4px;
  font-size: 14px;
  font-weight: 600;
  color: #0d5b96;
  margin-bottom: 40px;
}


.flip-wrapper {
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}



.flip-text {
  position: relative;
  display: inline-block;
  font-size: 80px;
  font-weight: 700;
  line-height: 1.2;
  background: #0d5b96;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
  width: 1000px;
}


.flip-text::after {
  content: attr(data-text);
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: -1;
  color: rgba(2, 6, 23, 0.95);
  filter: blur(14px);
}

.hero-description {
  margin-top: 35px;
  font-size: 18px;
  color: #0d5b96;
  line-height: 1.7;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.cta-btn {
  margin-top: 40px;
  padding: 15px 40px;
  border-radius: 50px;
  border: none;
  background: #0d5b96;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease;
}

.cta-btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 15px 35px rgba(37, 99, 235, 0.5);
}

.arrow-icon {
  transition: transform 0.3s ease;
}

.cta-btn:hover .arrow-icon {
  transform: translateX(6px);
}


@media (max-width: 1024px) {
  .flip-text {
    font-size: 52px;
  }
}

@media (max-width: 768px) {
  .flip-text {
    font-size: 38px;
  }

  .hero-description {
    font-size: 16px;
  }

  .cta-btn {
    padding: 12px 28px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .flip-text {
    font-size: 26px;
  }

  .subtitle {
    font-size: 12px;
  }

  .hero-description {
    font-size: 14px;
  }
}

.hero-overlay {
  pointer-events: none;
}