.hero-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  overflow: hidden;
}


.hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  z-index: 1;

  background: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 0.2) 35%,
    rgba(2, 6, 23, 0.8) 100%
  );
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 100%;
  color: white;
}

.subtitle {
  letter-spacing: 4px;
  font-size: 14px;
  font-weight: 600;
  color: #ffffffcc;
  margin-bottom: 40px;
}

.flip-wrapper {
  min-height: 100px;
}

.flip-text {
  position: relative;
  display: inline-block;   
  font-size: 80px;
  font-weight: 700;
  line-height: 1.2;
  background: #0d5b96;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;           
}


.flip-text::after {
  content: attr(data-text);
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: -1;

  color: rgba(2, 6, 23, 0.95);
  filter: blur(14px);
}


.hero-description {
  margin-top: 25px;
  font-size: 18px;
  color: #e2e8f0;
  line-height: 1.7;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.cta-btn {
  margin-top: 40px;
  padding: 15px 40px;
  border-radius: 50px;
  border: none;
  background: #0d5b96;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease;
}

.cta-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(14, 165, 233, 0.4);
}

.arrow-icon {
  transition: transform 0.3s ease;
}

.cta-btn:hover .arrow-icon {
  transform: translateX(6px);
}

@media (max-width: 1024px) {
  .flip-text {
    font-size: 42px;
  }
}

@media (max-width: 768px) {
  .flip-text {
    font-size: 34px;
  }

  .hero-description {
    font-size: 16px;
  }

  .cta-btn {
    padding: 12px 28px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .flip-text {
    font-size: 26px;
  }

  .subtitle {
    font-size: 12px;
  }

  .hero-description {
    font-size: 14px;
  }
}
