.problem-section {
  padding: 110px 40px;
  background: #f8fafc;
  font-family: "Poppins", sans-serif;
}

.problem-container {
  max-width: 1300px;
  margin: auto;
  text-align: center;
}

.problem-heading {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 30px;
  background: #0d5b96;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.problem-points {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.problem-points span {
  background: #bdcede;
  padding: 10px 18px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 500;
  color: #1e293b;
}

.problem-description {
  max-width: 850px;
  margin: 0 auto 80px auto;
  font-size: 16px;
  line-height: 1.7;
  color: #475569;
}

.problem-flow {
  display: grid;
  grid-template-columns: auto 60px auto 60px auto;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.flow-card {
  background: #ffffff;
  padding: 45px 30px;
  border-radius: 22px;
  width: 280px;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

.flow-card svg {
  color: #0d5b96;
  margin-bottom: 18px;
}

.flow-card h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #0f172a;
}

.flow-card p {
  font-size: 14px;
  color: #64748b;
  line-height: 1.6;
}

.flow-card:hover {
  transform: translateY(-8px);
}


.flow-arrow {
  font-size: 58px;
  font-weight: 600;
  color: #94a3b8;
}

@media (max-width: 1000px) {
  .problem-flow {
    grid-template-columns: 1fr;
  }

  .flow-arrow {
    display: none;
  }

  .flow-card {
    width: 100%;
  }

  .problem-heading {
    font-size: 34px;
  }
}