.wwb-section {
  padding: 100px 20px;
  background: #f4f7fb;
  font-family: "Poppins", sans-serif;
}

.wwb-container {
  max-width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 60px;
  align-items: start;
  padding-left: 30px;
  padding-right: 30px;
}

/* LEFT SIDE */

.wwb-title {
  font-size: clamp(36px, 5vw, 60px);
  font-weight: 700;
  color: #0d5b96;
  margin-bottom: 25px;
}

.wwb-description {
  font-size: 20px;
  color: #475569;
  line-height: 1.7;
  margin-bottom: 30px;
  max-width: 480px;
}

.build-ctaa{
  margin-left: 70px;
}

.cta-buttonn {
  display: inline-block;
  padding: 25px 45px;
  background: #0d5b96;
  color: white;
  border-radius: 50px;
  font-weight: 700;
  text-decoration: none;
  transition: 0.3s ease;
  font-size: 20px;
}

.wwb-btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 15px 35px rgba(13, 91, 150, 0.3);
}

/* RIGHT GRID */

.wwb-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.wwb-card {
  background: #ffffff;
  padding: 35px;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

.wwb-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.08);
}

.wwb-icon {
  color: #0d5b96;
  margin-bottom: 20px;
}

.wwb-card-title {
  font-size: 23px;
  font-weight: 600;
  color: #0f172a;
  margin-bottom: 12px;
  text-decoration: none;
}

.wwb-card-desc {
  font-size: 17px;
  color: #64748b;
  line-height: 1.6;
}

/* RESPONSIVE */

@media (max-width: 992px) {
  .wwb-container {
    grid-template-columns: 1fr;
  }

  .wwb-grid {
    grid-template-columns: 1fr;
  }
}