.leaders-section {
  width: 100%;
  padding: 80px 20px;
  background: url("https://www.transparenttextures.com/patterns/cubes.png"),
              linear-gradient(180deg, #eaf4fb, #f7fbff);
  text-align: center;
}

.leaders-container {
  max-width: 1200px;
  margin: auto;
}

.leaders-small-title {
  font-size: 14px;
  color: #1f4e8c; /* logo blue */
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.leaders-title {
  font-size: 44px;
  font-weight: 700;
  color: #0a2540;
  margin-bottom: 15px;
}

.leaders-desc {
  max-width: 900px;
  margin: 0 auto 60px;
  font-size: 18px;
  color: #333;
}

.badgee {
  font-size: 60px;
  font-weight: 800;
  background: linear-gradient(50deg, #0ea5e9, #84cc16);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 15px;
}

.leaders-row {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.interns-row{
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.main-row {
  margin-bottom: 60px;
}

.leader-card {
  text-align: center;
  max-width: 220px;
}

.avatar-wrapper {
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 50%;
  background: linear-gradient(135deg, #0ea5e9, #84cc16);
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 15px 35px rgba(0,0,0,0.08);
  transition: 0.3s ease;
}

.avatar-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  background: #fff;
}


.main-card .avatar-wrapper {
  width: 240px;
  height: 240px;
}

.leader-card:hover .avatar-wrapper {
  transform: translateY(-8px);
  box-shadow: 0 20px 45px rgba(14,165,233,0.25);
}

.leader-card h3 {
  margin-top: 20px;
  font-size: 22px;
  color: #000;
}

.leader-card h4 {
  margin-top: 20px;
  font-size: 20px;
}

.leader-card p {
  color: #444;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .leaders-title {
    font-size: 32px;
  }

  .leaders-row {
    gap: 30px;
  }

  .avatar-wrapper {
    width: 160px;
    height: 160px;
  }

  .main-card .avatar-wrapper {
    width: 180px;
    height: 180px;
  }
}
